<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="customerGroup">
      <h2 data-cy="customerGroupDetailsHeading"><span jhiTranslate="myApp.customerGroup.detail.title">Customer Group</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ customerGroup.id }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.customerGroup.name">Name</span></dt>
        <dd>
          <span>{{ customerGroup.name }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.customerGroup.enName">En Name</span></dt>
        <dd>
          <span>{{ customerGroup.enName }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.customerGroup.customer">Customer</span></dt>
        <dd>
          <div *ngIf="customerGroup.customer">
            <a [routerLink]="['/customer', customerGroup.customer?.id, 'view']">{{ customerGroup.customer?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/customer-group', customerGroup.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
